:root
{
    --clr-primary: #5bb5a2;
    --clr-primary-rgb: 91, 181, 162;
    // --clr-secondary-solid: #ffe292;

    --clr-white-000: #ffffff;
    --clr-white-rgb: 255, 255, 255;
    // --clr-white-100: #efefef;
    // --clr-white-200: #dcdcdc;

    --clr-dark-000: rgb(26, 25, 30);
    --clr-dark-rgb: 26, 25, 30;
    // --clr-dark-100: #161616;
    // --clr-dark-200: #202020;

    --clr-success: #1ee682;
    --clr-warning: #ffc107;
    --clr-danger: #dc3545;
}
